#img-bg{
    background-image:url("https://img.freepik.com/free-vector/nature-scene-with-mangrove-trees-water_1308-59217.jpg?w=740&t=st=1654021758~exp=1654022358~hmac=e241d1e3e9a0d70f5713c3f07a87dd6ca912878ab7a176aedb5661b665c5c8d7") ;
min-height:695px;
background-position: center;
background-repeat:no-repeat ;
background-size: cover;
}
